<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.firstname %></td>
        <td><%= employee.lastname %></td>
        <td><a href="mailto:<%= employee.email %>"><%= employee.email %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
