<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account No.</th>
      <th>Website</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.account_number %></td>
        <td><a href="http://<%= customer.website_url %>"><%= customer.website_url %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
